@font-face {
    font-family: 'Ekibastuz-Black';
    src: url('../fonts/ekibastuz_black/Ekibastuz-Black.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ekibastuz-Black';
    src:  url('../fonts/ekibastuz_black/Ekibastuz-Black.otf')  format('opentype'),
    url('../fonts/ekibastuz_black/Ekibastuz-Black.woff') format('woff'),
    url('../fonts/ekibastuz_black/Ekibastuz-Black.ttf')  format('truetype'),
    url('../fonts/ekibastuz_black/Ekibastuz-Black.svg#Ekibastuz-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ekibastuz-bold";
    src: url(../fonts/ekibastuz-bold/dp0Hmcih.otf);
}
@font-face {
    font-family: "CleaSans";
    src: url(../fonts/ClearSans-Regular/ClearSans-Regular.ttf);
}
@font-face {
    font-family: "CleaSans-bold";
    src: url(../fonts/ClearSans-Regular/ClearSans-Bold.ttf);
}
@font-face {
    font-family: "Ekibastuz_Light";
    src: url(../fonts/ek-l/Ekibastuz_Light.otf);
}
@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto_Regular.ttf");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto_Bold.ttf");
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "CleaSans", sans-serif;
}

/***************** general styles ********************/
html, body {
    width: 100%;
    height: 100%;
}
input, textarea, a, button {
    outline: none;
    border: none;
}
input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder {color: transparent}
input:focus:-moz-placeholder {color: transparent}
input:focus:-ms-input-placeholder {color: transparent}

ul li {
    list-style: none;
}

p, a {
    text-align: left;
}

.clearfix {
    clear: both;
}
.block-wrap {
    width: 100%;
}
.block-content {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.title {
    font-size: 36pt;
    color: #000000;
    text-transform: uppercase;
    line-height: 1.3;
    font-family: 'Ekibastuz-Black', sans-serif;
    text-align: left;
}
.text {
    font-family: "CleaSans", sans-serif;
    text-align: left;
}
.sub-title {
    font-size: 36pt;
    color: #000000;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Ekibastuz_Light', sans-serif;
    text-align: left;
    font-weight: 100;
}
h3 {
    font-family: 'Ekibastuz-Black', sans-serif;
    color: #000000;
    line-height: 1.2;
    margin: 10px 0;
    font-size: 16pt;
    text-align: left;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.color-button {
    background: #00ccff;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-family: "CleaSans-bold", sans-serif;
    font-size: 10pt;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 40px;
}
.color-button:hover {
    background: #99cc33;
}
.color-button:active {
    background: #669933;
}
.empty-button {
    border: 2px solid #00ccff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "CleaSans-bold", sans-serif;
    font-size: 10pt;
    vertical-align: middle;
    background: transparent;
    color: #000000;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 40px;
}
.empty-button:hover {
    background: #00ccff;
    color: #ffffff;
}
.empty-button:active {
    border: 2px solid #ffffff;
}

.blue-line {
    display: block;
    width: 70px;
    border: 1px solid #00ccff;
    margin : 0 auto;
}

.content-nav {
    width: 100%;
    text-align: center;
    margin: 100px 0;
}
.content-nav .control-content-nav {
    display: inline-block;
    width: 52px;
    height: 52px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    vertical-align: middle;
    cursor: pointer;
}
.control-content-nav-left {
    background: url('../img/sprite-content-nav.png') 1% center;
    background-size: cover;
}
.control-content-nav-left:hover {
    background: #00ccff url('../img/sprite-content-nav.png') 67% center;
    background-size: cover;
}
.control-content-nav-right {
    background: url('../img/sprite-content-nav.png') 34% center;
    background-size: cover;
}
.control-content-nav-right:hover {
    background: #00ccff url('../img/sprite-content-nav.png') 100% center;
    background-size: cover;
}
.content-nav ul {
    display: inline-block;
    vertical-align: middle;
}
.content-nav ul li {
    display: inline-block;
    margin: 0 5px;
}
.content-nav ul li a {
    display: block;
    width: 52px;
    height: 52px;
    font-size: 20pt;
    line-height: 52px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.content-nav ul li a:hover {
    background: #f7f7f8;
}
.content-nav ul .active a:hover {
    background: #00ccff;
}
.content-nav ul .active a {
    background: #00ccff;
    color: #ffffff;
}
    /************** header ************/


.video-bg-blue {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,255,0.4);
    z-index: -1;
}

.bgvideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
    background: url("../img/body-bg.png") no-repeat;
    background-size: cover;
}
.top-header {background: rgba(0,0,0,0.4);}
.container-footer {
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
}
.logo-menu {padding: 10px 0; float: left;}
.bottom-line {width: 100%; clear: both;}


.logo {margin-right: 62px; float: left;}
.logo img {transition: all 300ms;}
.logo img:hover {opacity: 0.8;}

.main-menu .fa-bars {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    font-size: 21px;
    font-weight: normal;
    cursor: pointer;
    transition: all 300ms;
}
.main-menu {
    float: left;
    display: table;
    height: 44px;
}
.main-menu .fa-bars:hover, .main-menu .fa-times:hover {
    opacity: 0.8;
}
.right-header {
    float: right;
}
.right-header ul {
    height: 64px;
    float: right;
    width: 135px;
    display: table;
    text-align: center;
}

.right-header ul li {
    display: table-cell;
    vertical-align: middle;
}
/*** search-form ***/

.search-form {
    width: 20px;
    position: relative;
    height: 20px;
    margin-top: -13px;
}
.search {
    top: 0;
    box-sizing: border-box;
    width: 0;
    border: none;
    background: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 32px;
    padding: 0 0;
    position: absolute;
    right: 20px;
    transition: all 300ms;
    font-size: 10pt;
}
.search::-moz-placeholder {font-size: 12px;}
.search::-webkit-input-placeholder {font-size: 12px;}

.search-submit {
    z-index: 10;
    width: 32px;
    height: 32px;
    background: url("../img/search-bg.png") center no-repeat;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 4px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: 300ms;
}

.phone-number i {
    font-size: 22px;
    color: #00FF00;
    background: none;
    transition: all 300ms;
}
.right-header ul li i:hover {opacity: 0.8; cursor: pointer;}

.phone-number {background: none;}


.enter {
    margin-top: 3px;
    width: 24px;
    height: 20px;
    display: inline-block;
    background: url("../img/sign-in.png") no-repeat;
    transition: all 300ms;
}
.enter:hover {opacity: 0.8; cursor: pointer;}

.over-btn {
    float: right;
    width: 119px;
    height: 65px;
    display: table;
    margin-left: 5px;
}
.over-btn p {
    display: table-cell;
    vertical-align: middle;
}
.enter-to-club {
    display: block;
    width: 120px;
    font-size: 11px;
    text-transform: uppercase;
    text-shadow: -1px 1px 1px #A10040;
    color: white;
    margin: 0;
    background: #FF0066;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
}
.enter-to-club:hover {
    background: #33CC66;
}

/******************** panel - social **************************/
.panel-social {
    display: block;
    position: fixed;
    left: 0;
    top: 140px;
}
.panel-social li a {
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 24px;
    color: #ffffff;
}
.panel-social .li-vk {background: #41658b;}
.panel-social .li-youtube {background: #cc3300;}
.panel-social .li-fb {background: #39579a;}
.panel-social .li-tw {background: #00abf0;}
.panel-social .li-google {background: #be3308;}
.panel-social .li-inst {background: #2f69a1;}

/**************** block - header ******************/
.block-header {
    background: #0c0c0c;
    position: relative;
    z-index: 100;
}

.main-menu .fa-times {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    font-size: 21px;
    font-weight: normal;
    cursor: pointer;
    transition: all 300ms;
}
.menu-panel {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: #1a1a1a;
}
.menu {
    margin: 150px 0 100px 120px;
}
.menu>li {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-bottom: 25px;
    margin-left: 30px;
}
.sub-menu-name {
    font-family: 'Ekibastuz-Black', sans-serif;
    font-size: 20pt;
    color: #00b3e0;
    margin-bottom: 20px;
}
.sub-menu li a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Ekibastuz-Black', sans-serif;
    font-size: 11pt;
    color: #ffffff;
    line-height: 1.2;
    margin-bottom: 10px;
}
.sub-menu li a:hover {
    color: #ffcc00;
}
.sub-menu li .active {
    color: #ffcc00;
}
.sub-menu li .active:before {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-left: 6px solid #ffcc00;
    border-bottom: 3px solid transparent;
    margin-left: -6px;
    position: relative;
    left: -5px;
    top: -2px;
}
.menu-panel .author {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: #ffffff;
}
.menu-panel .author a {
    display: block;
    padding: 2px 4px 2px 25px;
    background: url("../img/webstroy_stroy.png")3px 4px no-repeat;
    color: #ffffff;
    margin-top: 10px;
    font-size: 10pt;
}
.menu-panel .author a:hover {
    background: url("../img/webstroy_stroy-h.png")3px 4px no-repeat #ffffff;
    border-radius: 10px;
    color: #6666FF;
}
/*************** block - breadcrumbs ****************/
.breadcrumbs {
    display: inline-block;
    margin: 30px 0;
}
.breadcrumbs li {
    display: inline-block;
    height: 45px;
}
.breadcrumbs li, .breadcrumbs li a {
    font-size: 14pt;
    font-family: "Roboto Regular", sans-serif;
    color: #000000;
    line-height: 45px;
}
.breadcrumbs li a {
    text-decoration: underline;
}
.breadcrumbs li a:hover {
    text-decoration: none;
}
.breadcrumbs li a:after {
    display: inline-block;
    content: '';
    height: 20px;
    border: 1px solid #e8e8e8;
    margin: 0 20px;
    vertical-align: middle;
}
.breadcrumbs li:last-child a:after {
    display: none;
}
.photo-report-control {
    display: inline-block;
    float: right;
    margin-top: 27px;
}
.photo-report-control .left-control, .photo-report-control .right-control {
    display: inline-block;
    width: 52px;
    height: 52px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    vertical-align: middle;
    cursor: pointer;
}
.photo-report-control .left-control {
    background: #e6e6e6 url('../img/sprite-content-nav.png') 0 center;
    background-size: cover;
    margin-right: 15px;
}
.photo-report-control .left-control:hover {
    background: #00ccff url('../img/sprite-content-nav.png') 67% center;
    background-size: cover;
}
.photo-report-control .right-control {
    background: #e6e6e6 url('../img/sprite-content-nav.png') 34% center;
    background-size: cover;
}
.photo-report-control .right-control:hover {
    background: #00ccff url('../img/sprite-content-nav.png') 100% center;
    background-size: cover;
}

/**************** block - footer **********************/
.block-footer-top {
    background: #333333;
}
.block-footer-top .block-content {
    position: relative;
    z-index: 0;
}
.footer-left {
    float: left;
    width: 400px;
    padding: 20px 0;
}
.footer-left .logo {
    float: none;
    display: inline-block;
    width: 77px;
    height: 40px;
    margin: 0 0 15px 0;
    vertical-align: middle;
}
.footer-left .grey-line {
    display: inline-block;
    height: 40px;
    border: 1px solid #464646;
    vertical-align: middle;
    margin: 0 20px 15px 20px;
}
.write-to-us {
    display: inline-block;
    font-family: "Roboto Regular", sans-serif;
    font-size: 10pt;
    vertical-align: middle;
    background: transparent;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    border: 1px solid #00ccff;
    width: 150px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 0 0 15px 0;
    color: #e6e6e6;
}
.write-to-us:hover {
    background: #00ccff;
}
.write-to-us:active {
    background: #00ccff;
    border: none;
}
.footer-left .copyrights {
    font-family: "CleaSans", sans-serif;
    color: #999999;
    font-size: 10pt;
}
.image-tie {
    width: 7.13%;
    padding-top: 20.7%;
    background: url("../img/tie.png") no-repeat center;
    background-size: cover;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.footer-nav {
    display: inline-block;
    padding: 20px 0;
    margin-left: 200px;
}
.footer-nav li {
    margin-bottom: 5px;
}
.footer-nav li a {
    font-family: "CleaSans", sans-serif;
    font-size: 10pt;
    text-decoration: underline;
    color: #e6e6e6;
}
.footer-nav li a:hover {
    text-decoration: none;
}
.footer-right {
    float: right;
    width: 200px;
    padding: 20px 0;
}
.footer-right .phone-number span {
    font-family: 'Ekibastuz-Black', sans-serif;
    font-size: 15pt;
    color: #e6e6e6;
    vertical-align: middle;
}
.footer-right .phone-number i {
    font-size: 15pt;
    margin-right: 10px;
    background: #009933;
    line-height: 20pt;
    width: 18pt;
    height: 18pt;
    color: #ffffff;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
.get-callback {
    display: inline-block;
    width: 200px;
    border: 2px solid #707070;
    margin-top: 10px;
    color: #e6e6e6;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: "Roboto Regular", sans-serif;
    font-size: 10pt;
    vertical-align: middle;
    background: transparent;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.get-callback:hover {
    background: #707070;
}
.get-callback:active {
    background: #707070;
    border: 2px solid #333333;
}
.footer-social {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.footer-social li {
    display: inline-block;
    margin-right: 10px;
}
.footer-social li:last-child {
    margin-right: 0;
}
.footer-social li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14pt;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    color: #ffffff;
}
.footer-social .li-fb a {background: #39579a;}
.footer-social .li-vk a {background: #41658b;}
.footer-social .li-tw a {background: #00abf0;}
.footer-social .li-google a {background: #be3308;}

.block-footer-bottom {
    background: #e6e6e6;
}
.footer-links {
    display: inline-block;
    width: auto;
}
.footer-links li {
    display: inline-block;
}
.footer-links li a {
    display: block;
    height: 45px;
    font-family: "CleaSans", sans-serif;
    color: #336699;
    text-decoration: underline;
    font-size: 10pt;
    line-height: 45px;
    border-right: 2px solid #d0d0d0;
    padding: 0 15px;
}
.footer-links li:first-child a {padding-left: 0;}
.footer-links li a:hover {
    text-decoration: none;
}
.block-footer-bottom .author {
    float: right;
}
.block-footer-bottom .author a {
    display: block;
    padding: 2px 4px 2px 25px;
    background: url("../img/webstroy_stroy-b.png")3px 4px no-repeat;
    color: #000000;
    margin-top: 10px;
    font-size: 10pt;
}
.block-footer-bottom .author a:hover {
    background: url("../img/webstroy_stroy-h.png")3px 4px no-repeat #ffffff;
    border-radius: 10px;
    color: #6666FF;
}
/****************** page - contacts **********************/
.block-contacts .title, .block-contacts .sub-title {
    text-align: center;
}
.block-contacts .text {
    font-size: 16pt;
    color: #000000;
    line-height: 1.3;
    text-align: center;
    font-weight: 100;
    width: 68%;
    margin: 50px auto 60px;
}
.to-fill-form {
    display: block;
    width: 300px;
    margin: 0 auto 70px;
    padding: 10px 0;
}

.block-contacts-footer {
    background: url('../img/background-footer-contacts-wrap.png');
}
.block-contacts-footer .block-content {
    padding: 50px 0;
    background: url('../img/background-footer-contacts.png') no-repeat center;
    background-size: 100% auto;
}
.block-phone, .block-email {
    display: inline-block;
    width: 320px;
    vertical-align: top;
}
.block-email {width: 300px;}
.block-phone {
    margin-left: 125px;
}
.block-email {
    float: right;
}
.block-contacts-footer .sub-title {
    font-family: 'Ekibastuz_Light', sans-serif;
    font-size: 20pt;
    font-weight: 100;
    text-transform: uppercase;
    text-align: left;
}
.block-contacts-footer .phone-number, .block-contacts-footer .email {
    font-family: 'Ekibastuz-Black', sans-serif;
    font-size: 20pt;
}
.block-contacts-footer .text {
    font-size: 12pt;
    color: #cccccc;
}

/**************** page - about HKP *****************/
.block-about-club .text {
    font-size: 14pt;
    line-height: 1.2;
}
.block-about-club .sub-block:before {
    display: block;
    content: '';
    width: 100%;
    border: 1px solid #e6e6e6;
    margin: 40px 0 30px;
}
.block-about-club .sub-block .text {
    font-size: 12pt;
    color: #666666;
}
.block-about-club .sub-block ol {
    list-style-position: inside;
}

.block-be-with-us {
    margin-top: 70px;
    background: url('../img/background-be-with-us.png') no-repeat center;
    background-size: cover;
    padding: 100px 0 20px;
}
.block-be-with-us .title {
    text-align: center;
    color: #ffffff;
}
.block-be-with-us .text {
    width: 70%;
    margin: 20px auto;
    text-align: center;
    font-size: 14pt;
    line-height: 1.2;
    color: #ffffff;
}

/******************** page - blog ****************/
.articles {
    float: left;
    width: 724px;
    vertical-align: top;
    margin-top: 40px;
    text-align: left;
}
.articles li {
    width: 100%;
}
.articles li:after {
    content: '';
    display: block;
    width: 100%;
    border: 1px solid #e6e6e6;
    margin: 30px 0;
}
.articles li:last-child:after {
    display: none;
}
.article {
    display: table;
    width: 100%;
}
.article-image {
    width: 294px;
    height: 191px;
    overflow: hidden;
}
.article-info {
    display: table-cell;
    position: relative;
    vertical-align: top;
    padding: 0 25px;
}
.article-date {
    font-size: 11pt;
    line-height: 1.2;
    color: #cccccc;
}
.article-date i {
    font-size: 10pt;
    position: relative;
    bottom: 2px;
    margin-right: 5px;
}
.article-title {
    font-size: 14pt;
    margin: 5px 0 10px;
}
.article-description {
    font-size: 11pt;
    color: #999999;
    margin-bottom: 45px;
}
.article-info .details {
    position: absolute;
    left: 25px;
    bottom: 0;
}

.control-column {
    float: right;
    width: 270px;
    vertical-align: top;
    margin-top: 40px;
}
.popular-articles .title, .popular-categories .title, .block-banners .title {
    display: inline-block;
    width: auto;
    font-family: "CleaSans-bold", sans-serif;
    font-size: 12pt;
    margin-bottom: 20px;
}

.popular-categories .category-name  {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 11pt;
    color: #0092cc;
    text-decoration: none;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 10px;
}
.popular-categories .category-name:hover  {
    background: #f7f7f8;
}
.popular-categories .mark-category  {
    display: block;
    width: 15px;
    height: 26px;
    float: right;
    margin-top: 12px;
    background: url('../img/blue-right-arrow.png') no-repeat center;
    background-size: cover;
    margin-right: 20px;
}
.popular-articles {
    margin: 40px 0;
}
.control-block {
    float: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.control-left, .control-right {
    display: inline-block;
    width: 8px;
    height: 15px;
    background: url('../img/sprite-arrows-thin.png') no-repeat left center;
    background-size: cover;
    cursor: pointer;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}
.control-left:active, .control-right:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.control-right {
    background: url('../img/sprite-arrows-thin.png') no-repeat right center;
    background-size: cover;
    margin-left: 10px;
}
.slide-popular-article {
    height: 52px;
    overflow: hidden;
    margin: 10px 0;
}
.popular-article-image {
    width: 80px;
    height: 51px;
    overflow: hidden;
    float: left;
}
.slide-popular-article .text {
    display: block;
    width: 175px;
    float: right;
    font-size: 11pt;
    line-height: 1.2;
}

.block-banners, .slider-banners, .block-banners .banner {
    width: 100%;
}
.slider-banners {
    border: 2px solid #e6e6e6;
}
.banner {
    height: 370px;
    overflow: hidden;
    position: relative;
}
.banner .title {
    width: 100%;
    font-size: 50pt;
    text-align: center;
    line-height: 0.8;
    margin-top: 50px;
}
.banner .sub-title {
    font-size: 34pt;
    line-height: 1;
    margin-top: 15px;
    text-align: center;
}
.banner button {
    display: block;
    width: 180px;
    padding: 10px 0;
    margin: auto;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

/************* page - club events *************/
.block-events-title .block-content {
    position: relative;
    margin-bottom: 20px;
}
.block-events-title .show-calendar {
    position: absolute;
    top: 35px;
    right: 0;
    padding: 10px 40px;
}

.block-next-events {
    margin-bottom: 100px;
}
.event .block-content:after {
    display: block;
    width: 100%;
    content: '';
    border: 1px solid #e6e6e6;
    margin-top: 50px;
}
.event:last-child .block-content:after {
    display: none;
}

.event {
    padding-top: 50px;
}
.open-event {
    background: #f7f7f8;
}
.event-image {
    width: 390px;
    height: 245px;
    overflow: hidden;
    position: relative;
    float: left;
}
.event-image .inner-triangle {
    width: 0;
    height: 0;
    border-top: 23px solid transparent;
    border-right: 23px solid #ffffff;
    border-bottom: 23px solid transparent;
    position: absolute;
    top: 50px;
    right: 0;
}
.open-event .inner-triangle {
    border-right: 23px solid #f7f7f8;
}
.shadow-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    left:0;
    top:0;
    z-index: 1;
    display: none;
}
.event-image:hover .shadow-layer, .photo-reports-image:hover .shadow-layer {
    display: block;
}
.event-image:hover, .photo-reports-image:hover {
    cursor: pointer;
}

.event-info {
    width: 600px;
    height: 245px;
    float: right;
    vertical-align: top;
    position: relative;
}
.event-info h3 {
    cursor: pointer;
}
.event-info h3:hover {
    text-decoration: underline;
}
.event-type {
    display: inline-block;
    padding: 5px 10px;
    font-family: "Roboto Bold", sans-serif;
    font-size: 11pt;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 3px;
}
.event-seminar .event-type {background: #ff6633;}
.open-event .event-type {background: #33cc99;}
.event-training .event-type {background: #669933;}
.event-master-class .event-type {background: #9933cc;}
.event-english .event-type {background: #cc3300;}
.speaker {
    display: inline-block;
    margin-left: 15px;
    font-size: 12pt;
}
.event-description {
    color: #999999;
    font-size: 12pt;
}
.event-info .details {
    position: absolute;
    left: 0;
    bottom: 0;
}
.event-date-time {
    position: absolute;
    right: 0;
    bottom: 0;
}
.event-date, .event-time {
    display: inline-block;
    font-size: 12pt;
    margin-left: 20px;
}
.event-date-time i {
    color: #00ccff;
}

/************* pages - photo-reports sna single photo-report *************/
.photo-reports, .photos, .members-list {
    text-align: center;
}
.photo-reports li, .photos li, .members-list li {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-top: 50px;
    text-align: left;
    margin-right: 55px;
}
.photo-reports li:nth-child(3n), .photos li:nth-child(3n), .members-list li:nth-child(3n) {
    margin-right: 0;
}
.photo-reports-image, .photo {
    width: 300px;
    height: 175px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.photo-report-date {
    margin: 10px 0 5px;
    color: #b3b3b3;
}
.photo-report-date i {
    font-size: 10pt;
    position: relative;
    bottom: 2px;
    margin-right: 5px;
}
.photo-reports .photo-report-title {
    font-size: 13pt;
    margin-top: 0;
}
.photo-reports .photo-report-description {
    font-size: 11pt;
    color: #999999;
}
.photo-reports h3 {
    cursor: pointer;
}
.photo-reports h3:hover {
    text-decoration: underline;
}
.single-photo-report-description {
    font-size: 14pt;
    color: #666666;
    line-height: 1.3;
}
.photo .shadow-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    background: rgba(0, 0, 0, 0.6) url('../img/zoom-image.png') no-repeat center;
    background-size: 57px 57px;
}
.photo:hover .shadow-layer {
    display: block;
}
.block-single-photo-report .title {
    display: inline-block;
}
.block-single-photo-report .photo-report-date {
    display: inline-block;
    float: right;
    color: #000000;
    line-height: 38pt;
    margin: 0;
}
.social-likes {
    display: inline-block;
    margin-top: 50px;
}
.social-likes li {
    display: inline-block;
    margin-right: 20px;
}
.social-likes li a {
    display: inline-block;
    width: 100px;
    height: 22px;
    vertical-align: middle;
}
.likes-counter {
    display: inline-block;
    margin-left: 5px;
    width: 28px;
    height: 23px;
    background: url('../img/likes-counter.png') no-repeat center;
    background-size: cover;
    text-align: center;
    line-height: 23px;
    vertical-align: middle;
    color: #4d4d4d;
    font-size: 8pt;
}
.come-back {
    display: inline-block;
    float: right;
    border: 2px solid #b3b3b3;
    font-family: "Roboto Regular", sans-serif;
    font-size: 12pt;
    background: transparent;
    color: #999999;
    text-align: center;
    cursor: pointer;
    padding: 10px 40px;
    margin-top: 45px;
    text-decoration: none;
}
.come-back:hover {
    background: #b3b3b3;
    color: #ffffff;
}
.come-back:active {
    border: 2px solid #ffffff;
}
/************* page - club members *************/
.photo-member, .hidden-layer {
    width: 300px;
    height: 370px;
    overflow: hidden;
    position: relative;
}
.hidden-layer {
    display: none;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}
.hidden-layer .layer-title {
    width: 100%;
    text-align: center;
    font-family: 'Ekibastuz-Black', sans-serif;
    color: #ffffff;
    font-size: 18pt;
    margin-top: 20px;
    line-height: 1;
}
.hidden-layer .blue-line {
    width: 40px;
    margin-bottom: 10px;
}
.hidden-layer .layer-description {
    font-size: 10pt;
    color: #ffffff;
    padding: 0 30px;
    text-align: left;
}
.hidden-layer a {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    color: #00ccff;
    font-size: 14pt;
}
.hidden-layer a:hover {
    text-decoration: none;
}
.hidden-layer .view-profile {
    display: block;
    width: 180px;
    color: #ffffff;
    margin: auto;
    position: absolute;
    top: 310px;
    left: 0;
    right: 0;
}
.hidden-layer .view-profile:active {
    border: none;
}
.member-name {
    font-size: 14pt;
    margin: 10px 0 5px;
    line-height: 1;
}
.member-business {
    color: #0092cc;
    font-size: 12pt;
    line-height: 1;
    margin-bottom: 10px;
}
.member-date {
    color: #b3b3b3;
    font-size: 12pt;
    line-height: 1;
}
.member-date i {
    margin-right: 5px;
    font-size: 11pt;
}

/************* page - single member *************/
.block-single-member .block-content {
    position: relative;
}
.block-single-member .block-content:after {
    display: block;
    content: '';
    width: 100%;
    border: 1px solid #e6e6e6;
    margin: 50px 0;
}
.block-single-member .member-date {
    position: absolute;
    top: 30px;
    right: 0;
    color: #000000;
}
.title-info {
    width: 300px;
    float: left;
    margin-top: 50px;
}
.title-info .company-info li {
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
}
.title-info .logo {
    display: block;
    width: 151px;
    height: 98px;
    float: none;
    margin: 5px 0 0 0;
}
.company-info h3 {
    font-family: 'CleaSans-bold', sans-serif;
    line-height: 1.2;
    margin: 0;
    font-size: 12pt;
}
.company-info a {
    color: #0092cc;
    font-size: 12pt;
}
.company-info .phone-number {
    font-size: 12pt;
}
.title-info .banner {
    width: 300px;
    background: #f7f7f8;
    margin-top: 50px;
}

.other-info {
    width: 680px;
    float: right;
    margin-top: 50px;
}
.other-info>li:after {
    display: block;
    content: '';
    width: 100%;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
}
.other-info>li:last-child:after {
    display: none;
}
.other-info>li>p {
    padding-bottom: 20px;
}
.other-info h3 {
    font-family: 'CleaSans-bold', sans-serif;
    line-height: 1.2;
    margin: 0 0 10px 0;
    font-size: 14pt;
}
.other-info .text {
    font-size: 12pt;
    color: #666666;
}
.other-info .photo-company {
    display: inline-block;
    width: 206px;
    height: 137px;
    overflow: hidden;
    margin-right: 25px;
    margin-bottom: 25px;
}
.other-info .photo-company:nth-child(3n) {
    margin-right: 0;
}

.block-member-control .left-control-block {
    float: left;
    margin-bottom: 50px;
}
.block-member-control .right-control-block {
    float: right;
    margin-bottom: 50px;
}
.member-control {
    display: inline-block;
    width: 52px;
    height: 52px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    vertical-align: middle;
    cursor: pointer;
}
.member-control-left {
    background: #e6e6e6 url('../img/sprite-content-nav.png') 1% center;
    background-size: cover;
}
.member-control-left:hover {
    background: #00ccff url('../img/sprite-content-nav.png') 67% center;
    background-size: cover;
}
.member-control-right {
    background: #e6e6e6 url('../img/sprite-content-nav.png') 34% center;
    background-size: cover;
}
.member-control-right:hover {
    background: #00ccff url('../img/sprite-content-nav.png') 100% center;
    background-size: cover;
}
.block-member-control .control-text {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
.control-text .text {
    font-size: 12pt;
    font-family: "CleaSans-bold", sans-serif;
    line-height: 1;
}
.control-text .member-name {
    font-size: 12pt;
    color: #808080;
    line-height: 1;
    margin: 5px 0 0 0;
}
.block-member-control .right-control-block .control-text {
    text-align: right;
}

/************* page - partnership *************/
.block-partnership .block-content>.text {
    font-size: 14pt;
    line-height: 1.2;
    margin-top: 20px;
    text-align: left;
}

.block-partnership .sub-block:before {
    display: block;
    content: '';
    width: 100%;
    border: 1px solid #e6e6e6;
    margin: 30px 0 25px;
}
.block-partnership h3 {
    font-size: 14pt;
}
.block-partnership .sub-block, .block-partners ul li {
    text-align: left;
}
.block-partnership .sub-block .text {
    font-size: 12pt;
    color: #666666;
}
.block-partnership .sub-block ul li:before {
    display: inline-block;
    content: '-';
    margin-right: 5px;
}
.get-in-touch {
    padding: 10px 80px;
    margin: 50px 0;
}

.block-advertising-cost {
    padding: 50px 0;
    background: #f7f7f8;
}
.block-advertising-cost ul {
    margin-top: 50px;
}
.block-advertising-cost ul li:after {
    display: block;
    content: '';
    width: 100%;
    border: 1px solid #e6e6e6;
    margin: 30px 0 25px;
}
.block-advertising-cost .service {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}
.block-advertising-cost .service-cost {
    display: inline-block;
    margin-left: 100px;
    vertical-align: middle;
    width: 140px;
}
.block-advertising-cost .to-order {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    padding: 10px 60px;
}
.block-advertising-cost ul li h3 {
    margin: 0;
}
.block-advertising-cost .service-description, .block-advertising-cost .cost-info {
    color: #808080;
    font-size: 12pt;
}
.block-partners {
    padding: 50px 0;
}
.block-partners ul {
    margin-top: 50px;
}
.block-partners .partner {
    display: block;
    width: 100%;
}
.block-partners .partner:after {
    display: block;
    content: '';
    width: 100%;
    border: 1px solid #e6e6e6;
    margin: 30px 0;
}
.block-partners ul li:last-child:after, .block-advertising-cost ul li:last-child:after {
    display: none;
}
.partner-logo {
    display: inline-block;
    width: 200px;
    height: 170px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    position: relative;
}
.partner-logo img {
    width: auto;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.partner-info {
    display: inline-block;
    width: 790px;
    height: 170px;
    position: relative;
    vertical-align: top;
    padding: 0 25px;
}
.partner-info h3 {
    margin: 0 0 10px 0;
}
.block-partners ul li .text {
    color: #808080;
    font-size: 11pt;
}
.partner-info a {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 25px;
}


/*********** media queries ***************/
@media (max-width: 1024px) {
    .block-wrap, .header-line {
        text-align: center;
    }
    .block-breadcrumbs, .block-single-photo-report {
        text-align: left;
    }
    .block-content {
        width: 95%;
    }
    .block-header .logo-menu, .block-header .logo, .main-menu, .right-header, .over-btn {
        display: inline-block;
        float: none;
        vertical-align: middle;
        height: auto;
        margin: 0;
    }
    .block-header .logo-menu {
        margin-right: 100px;
    }
    .block-header .logo {
        margin-right: 50px;
    }
    .right-header ul {
        display: inline-block;
        width: auto;
        height: auto;
        float: none;
    }
    .right-header ul li {
        display: inline-block;
        margin: 0 10px;
    }
    .search-form {
        width: auto;
        height: auto;
        margin: 0;
    }
    .search-form .search {
        width: 230px;
        height: 30px;
        padding: 0 10px;
        opacity: 1;
        position: static;
    }
    .enter {
        margin: 0;
        vertical-align: middle;
    }
    .title, .sub-title {
        font-size: 32pt;
    }
    .articles, .control-column  {
        display: inline-block;
        float: none;
    }
    .control-column {
        width: 100%;
    }
    .block-footer-top {
        text-align: center;
    }
    .footer-left, .footer-right, .footer-nav {
        display: inline-block;
        float: none;
        margin: 0;
        text-align: left;
    }
    .footer-nav {
        margin: 0 50px;
    }
    .image-tie {
        display: none;
    }
    .popular-articles, .popular-categories, .control-column .block-banners {
        display: inline-block;
        width: 270px;
        vertical-align: top;
        margin: 30px 20px;
    }
    .block-events-title {
        text-align: left;
    }
    .block-events-title .show-calendar {
        position: static;
        margin-top: 20px;
    }
    .event-image, .event-info {
        display: inline-block;
        text-align: left;
        float: none;
    }
    .inner-triangle {
        display: none;
    }
    .event-image {
        margin-bottom: 30px;
    }
    .event-info {
        height: auto;
    }
    .event-info .details, .event-date-time {
        position: static;
        display: inline-block;
        vertical-align: middle;
        margin-top: 30px;
    }
    .block-contacts-footer .block-content {
        background: none;
    }
    .block-phone, .block-email {
        width: 300px;
        margin: 10px;
        float: none;
    }
    .block-phone .sub-title, .block-email .sub-title {
        font-size: 18pt;
        text-align: center;
    }
    .block-contacts .text {
        width: 100%;
    }
    .photo-reports li, .photos li, .members-list li {
        margin: 20px;
    }
    .block-advertising-cost .to-order {
        margin-top: 20px;
        margin-left: 0;
    }
    .block-advertising-cost .service {
        text-align: left;
    }
    .block-single-member .member-date {
        position: static;
        margin-top: 30px;
    }
    .title-info, .other-info {
        float: none;
        width: 100%;
    }
    .title-info .photo-member, .title-info .company-info, .title-info .banner {
        display: inline-block;
        width: 300px;
        margin: 10px 5px;
        text-align: left;
    }
    .other-info {
        text-align: left;
    }
    .photos li:nth-child(3n) {
        margin-right: 20px;
    }
    .partner-logo {
        display: block;
        margin: 0 auto 30px;
    }
    .partner-info {
        width: 100%;
        height: auto;
    }
    .partner-info a {
        display: block;
        position: static;
        width: 250px;
        margin: 20px auto 0;
    }
    .menu-panel {
        height: auto;
        text-align: center;
    }
    .menu {
        width: 100%;
        margin: 150px 0 100px 0;
    }
    .menu>li {
        text-align: left;
        margin: 0 5px 25px 5px;
    }
}
@media (max-width: 768px) {
    .block-header .logo-menu {
        padding: 0;
        margin: 20px 30px 10px;
    }
    .right-header ul li {
        margin: 10px 15px;
    }
    .over-btn {
        margin: 10px;
    }
    .block-footer-bottom {
        text-align: center;
    }
    .block-footer-bottom .footer-links {
        margin: 0 10px;
    }
    .block-footer-bottom .footer-links li a {
        border: none;
        height: 25px;
    }
    .block-footer-bottom .author {
        display: inline-block;
        float: none;
        margin: 5px 10px;
    }
    .title, .sub-title {
        font-size: 28pt;
    }
    .articles {
        width: 100%;
    }
    .article {
        display: block;
        text-align: center;
    }
    .article-image, .article-info {
        display: inline-block;
        text-align: left;
    }
    .article-description {
        margin: 0;
    }
    .article-info .details {
        position: static;
        margin-top: 20px;
    }
    .event-info {
        width: 100%;
    }
    .block-advertising-cost .sub-title {
        text-align: center;
    }
    .block-advertising-cost .service {
        width: 100%;
        text-align: center;
    }
    .block-advertising-cost .service-cost {
        margin: 20px 0 0 0;
    }
    .company-gallery {
        text-align: center;
    }
    .other-info .photo-company, .other-info .company-gallery li:nth-child(3n) {
        margin: 0 20px 20px 20px;
    }
    .photo-report-control, .block-single-photo-report .photo-report-date {
        display: block;
        margin: 0 0 30px 0;
        float: none;
    }
    .come-back {
        display: block;
        float: none;
        width: 220px;
    }
    .content-nav {
        margin: 50px 0;
    }
    .menu {
        margin: 180px 0 100px 0;
    }
}
@media (max-width: 480px) {
    .footer-left {
        width: 100%;
    }
    .title, .sub-title {
        font-size: 24pt;
    }
    .event-image {
        width: 300px;
        height: 188px;
    }
    .speaker, .event-date-time {
        display: block;
        margin-left: 0;
    }
    .block-phone, .block-email {
        margin: 5px;
    }
    .to-fill-form {
        width: 280px;
    }
    .photo-reports li, .photos li, .members-list li {
        margin: 20px 5px;
    }
    .block-member-control {
        text-align: center;
    }
    .block-member-control .left-control-block,
    .block-member-control .right-control-block {
        float: none;
    }
    .social-likes li {
        display: block;
        margin: 10px 0;
    }
    .photos li {
        margin: 20px 5px;
    }
    .photos li:nth-child(3n) {
        margin-right: 5px;
    }
    .menu {
        margin: 220px 0 100px 0;
    }
}